<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="container" style="max-width: 700px;">
    <div class="card">
      <div class="card-body p-5">
        <h2 class="mb-4">Submit the following tax documents:</h2>
        <%= form_with model: @tax_submission, local: true, html: { multipart: true } do |f| %>
          <div class="mb-3">
            <%= f.label :company_name, "Company Name", class: "form-label" %>
            <%= f.text_field :company_name, class: "form-control", value: current_user.company_name %>
          </div>
              
          <div class="mb-3">
            <%= f.label :form_2307, "Form 2307", class: "form-label" %>
            <%= f.file_field :form_2307, class: "form-control", required: true, accept: "image/*,application/pdf" %>
            <small class="form-text text-muted">Only image files (like JPG, JPEG or PNG) and PDFs are allowed.</small>
          </div>

          <div class="mb-3">
            <%= f.label :deposit_slip, "Deposit Slip or Bank Transfer Details", class: "form-label" %>
            <%= f.file_field :deposit_slip, class: "form-control", required: true, accept: "image/*,application/pdf" %>
            <small class="form-text text-muted">Only image files (like JPG, JPEG or PNG) and PDFs are allowed.</small>
          </div>

          <div class="mb-5">
            <%= f.label :details, "Additional Notes", class: "form-label" %>
            <%= f.text_area :details, class: "form-control", rows: 4 %>
          </div>

          <div class="d-flex justify-content-between gap-2">
            <%= link_to "Back", root_path, class: "btn btn-secondary btn-md" %>
            <%= f.submit "Submit", class: "btn btn-primary btn-md" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
