<div class="container mt-5">
  <div class="card shadow-sm mb-5">
    <div class="card-body">
      <%= form_with model: @invoice, local: true, html: { multipart: true, class: "" } do |f| %>

        <h5 class="text-secondary">Invoice Details</h5>
        
        <div class="row">

          <div class="col-md-6 mb-3">
            <%= f.label :To, class: "form-label" %>
            <%= select_tag "invoice[recipient_company_id]",
              options_for_select(@recipient_companies.map { |c|
                [
                  c.name,
                  c.id,
                  {
                    'data-name': c.name,
                    'data-website': c.website,
                    'data-industry': c.industry,
                    'data-ownership': c.ownership,
                    'data-address': c.address,
                    'data-phone': c.phone,
                    'data-description': c.description,
                    'data-size': c.size,
                    'data-share-capital': c.share_capital,
                    'data-registration-address': c.registration_address,
                    'data-email-address': c.email_address,
                    'data-company-id-type': c.company_id_type,
                    'data-company-id-number': c.company_id_number,
                    'data-tax-id-type': c.tax_id_type,
                    'data-tax-id-number': c.tax_id_number,
                    'data-internal-identifier': c.internal_identifier
                  }
                ]
              }),
              prompt: "Select a company",
              class: "form-select",
              id: "recipient_company_id"
            %>


            <!-- Company preview will be inserted here -->
            <div id="recipient-preview" class="border p-3 rounded d-none">
              <p class="mb-1" id="company_name"></p>
              <p class="mb-1" id="company_address"></p>
              <p class="mb-1" id="company_location"></p>
              <p class="mb-1" id="company_country"></p>
              <br>
              <p class="mb-1" id="company_number"></p>
              <p class="mb-1" id="company_tax_number"></p>
              <a href="#" class="text-primary small" id="change-recipient">Change recipient</a>
            </div>
          </div>


          <div class="col-md-6">
            <%= f.label :invoice_number, class: "form-label" %>
            <%= f.text_field :invoice_number, class: "form-control" %>

            <div class="row mt-3">
              <div class="col-md-6">
                <%= f.label :issue_date, class: "form-label" %>
                <%= f.date_field :issue_date, class: "form-control" %>
              </div>

              <div class="col-md-6">
                <%= f.label :currency, class: "form-label" %>
                <%= f.text_field :currency, class: "form-control" %>
              </div>
            </div>

            <div id="invoice_details_parent_div" class="mt-3">
              <div class="mb-3 position-relative border rounded p-3 pt-3" data-optional-group="payment_due_date">
                <button type="button" class="btn btn-sm btn-outline-danger rounded position-absolute top-0 end-0 m-2 remove-group">×</button>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.label :payment_due_date, class: "form-label" %>
                    <%= f.date_field :payment_due_date, class: "form-control" %>
                  </div>
                </div>
              </div>

              <div class="mb-3 position-relative border rounded p-3 pt-3" data-optional-group="delivery_date">
                <button type="button" class="btn btn-sm btn-outline-danger rounded position-absolute top-0 end-0 m-2 remove-group">×</button>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.label :delivery_date, class: "form-label" %>
                    <%= f.date_field :delivery_date, class: "form-control" %>
                  </div>
                </div>
              </div>

              <div id="optional_fields_container"></div>

              <div class="mt-4 mb-4">
                <select id="optionalField" class="form-select">
                  <option value="">Add optional field</option>
                  <option value="customsDeclarations">Customs Declarations</option>
                  <option value="taxExchangeRateFields">Exchange rate</option>
                  <option value="transactionVatType">Transaction VAT Type</option>
                  <option value="orderReferenceId">Purchase order number</option>
                  <option value="orderReferenceIssueDate">Purchase order issue date</option>
                  <option value="billingReferenceId">Billing reference</option>
                  <option value="contractDocumentReferenceId">Contract number</option>
                  <option value="despatchDocumentReference.id">Shipping Notice Reference</option>
                  <option value="despatchDocumentReference.issueDate">Shipping Notice Issue Date</option>
                  <option value="receiptDocumentReference.id">Goods Receipt Reference</option>
                  <option value="receiptDocumentReference.issueDate">Goods Receipt Issue Date</option>
                  <option value="accountingCost">Cost center</option>
                  <option value="customerPartyContactName">Person reference</option>
                  <option value="additionalReferences[BOL ID]">Transport Reference</option>
                  <option value="BOLIssueDate">Transport Reference Issue Date</option>
                  <option value="additionalReferences[File ID]">File Id</option>
                  <option value="customerAssignedId">Customer account ID</option>
                  <option value="taxPointDate">Tax point date</option>
                  <option value="supplierCommissionNumber">Commission number of seller</option>
                  <option value="supplierPhysicalLocationValue">Data universal numbering system</option>
                  <option value="deliveryTerms">Delivery Terms</option>
                  <option value="additionalReferences[Interim Hours]">Interim Hours</option>
                  <option value="additionalReferences[BookingNumber]">Booking Number</option>
                  <option value="additionalReferences[PaymentReference]">Payment Reference</option>
                  <option value="additionalReferences[TS Clearance]">Tradeshift Clearance</option>
                  <option value="promisedDeliveryPeriod">Delivery period</option>
                  <option value="additionalReferences[Clearance Clave]">Clearance Clave</option>
                </select>
              </div>
            </div>

          </div>

        </div>

        <table class="table text-center align-middle invoice-table">
          <thead class="table-light">
            <tr>
              <th></th>
              <th>Item ID</th>
              <th>Description</th>
              <th>Quantity</th>
              <th>Unit</th>
              <th>Price per unit</th>
              <th>Tax (%)</th>
              <th>Recurring</th>
              <th>Total excl. tax</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="line-items">
            <tr class="line-item" data-line-index="<%= (Time.now.to_f * 1000).to_i %>">
              <td><button type="button" class="btn btn-sm btn-outline-primary toggle-dropdown">+</button></td>
              <td><input type="text" name="invoice[item_id]" class="form-control item-id"></td>
              <td><input type="text" name="invoice[description]" class="form-control description"></td>
              <td><input type="number" name="invoice[quantity]" class="form-control quantity" value="1"></td>
              <td><input type="text" name="invoice[unit]" class="form-control unit" value="pcs"></td>
              <td><input type="number" name="invoice[price_per_unit]" class="form-control price" step="0.01"></td>
              <td><input type="number" name="invoice[tax]" class="form-control tax" step="0.01"></td>
              <td>
                <select name="invoice[recurring]" class="form-select recurring">
                  <option value="no">No</option>
                  <option value="yes">Yes</option>
                  <option value="every_month">Every month</option>
                  <option value="every_quarter">Every quarter</option>
                  <option value="every_year">Every year</option>
                </select>
              </td>
              <td class="text-end total">0.00</td>
              <td><button type="button" class="btn btn-sm btn-outline-danger remove-line">&minus;</button></td>
            </tr>
            <tr class="dropdown_per_line hidden">
              <td colspan="3">
                <select name="additional_field_0" id="additional_field_0" class="no-label form-select">
                  <option value="">Add optional field</option>
                  <option value="discount">Discount</option>
                  <option value="charge">Charge (e.g. freight)</option>
                  <option value="bolid">Transport Reference</option>
                  <option value="fileid">File Id</option>
                  <option value="taxexemptionreason">Tax exemption reason</option>
                  <option value="modelname">Model name</option>
                  <option value="hsnsac">HSN/SAC</option>
                  <option value="documentreference">Purchase order number</option>
                  <option value="documentlinereference">Purchase order line number</option>
                  <option value="accountingcost">Cost center</option>
                  <option value="deliveryaddress">Delivery Address</option>
                  <option value="actualdeliverydate">Delivery Date</option>
                  <option value="buyersitemidentification">Buyer material number</option>
                  <option value="origincountry">Country of origin</option>
                  <option value="eccn">Commodity classification: ECCN</option>
                  <option value="eangtin">EAN/GTIN</option>
                  <option value="incoterms">Delivery Terms</option>
                  <option value="manufacturename">Manufacture name</option>
                  <option value="trackingid">Freight order number</option>
                  <option value="serialID">Serial number</option>
                  <option value="linenote">Notes</option>
                  <option value="despatchlinedocumentreference">Shipping Notice Reference</option>
                  <option value="despatchlineiddocumentreference">Shipping Notice Line Reference</option>
                  <option value="receiptlinedocumentreference">Goods Receipt Reference</option>
                  <option value="receiptlineiddocumentreference">Goods Receipt Line Reference</option>
                </select>
              </td>
              <td colspan="6"></td>
            </tr>
          </tbody>
        </table>

        <div class="row g-3 mb-3 mt-0">
          <div class="col-md-4 d-grid">
            <button type="button" id="add-discount-row" class="btn btn-outline-primary">
              Add Header Charge / Discount / Tax
            </button>
          </div>
          <div class="col-md-4 d-grid">
            <button type="button" id="add-base-quantity" class="btn btn-outline-secondary">
              Show Base Quantity Column
            </button>
          </div>
          <div class="col-md-4 d-grid">
            <button type="button" id="add-line" class="btn btn-success">
              <i class="bi bi-plus-square me-1"></i> Add New Line
            </button>
          </div>
        </div>

        <div class="text-end mt-3">
          <p>Subtotal excl. taxes: <span class="subtotal-amount">0.00</span></p>
          <p><strong>Total PHP: <span class="grand-total-amount">0.00</span></strong></p>
          <p>Total taxes: <span class="total-tax-amount">0.00</span> PHP</p>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-6">
            <div id="payment_terms_parent_div">
            </div>
            <select name="payment_terms_select" id="payment_terms_select" class="form-select mb-3" data-optional-group="0">
              <option value="">Add payment terms and means</option>
              <option value="paymentterms">Payment Terms</option>
              <option value="cash">Cash payment</option>
              <option value="check">Check</option>
              <option value="bank">Bank Account</option>
              <option value="bank_card">Bank Card</option>
              <option value="debit">Direct Debit</option>
              <option value="bic_iban">BIC + IBAN</option>
            </select>
            <div class="form-check mb-4">
              <%= f.check_box :save_payment_terms_for_future, class: "form-check-input" %>
              <%= f.label :save_payment_terms_for_future, "Save payment terms and means for future invoices", class: "form-check-label" %>
            </div>

            <hr>

            <button type="button" class="btn btn-primary btn-sm"
              data-bs-toggle="collapse"
              data-bs-target="#delivery_details_parent_div"
              aria-expanded="false"
              aria-controls="delivery_details_parent_div">
              + Delivery Details
            </button>

            <div class="collapse mt-3 border rounded p-3 pt-3" id="delivery_details_parent_div">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h5 class="mb-0">Delivery details</h5>
              </div>
              <div class="row">
                  <div class="row">
                    <div class="col-md-12 mb-3">
                      <label class="form-label">Country/Region</label>
                      <select name="invoice[delivery_details_country" id="initial_delivery_details_country]" class="form-select">
                      </select>
                    </div>

                    <div class="col-md-6 mb-3">
                      <label class="form-label">Postbox</label>
                      <input type="text" name="invoice[delivery_details_postbox]" class="form-control">
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Street</label>
                      <input type="text" name="invoice[delivery_details_street]" class="form-control">
                    </div>

                    <div class="col-md-6 mb-3">
                      <label class="form-label">Number</label>
                      <input type="text" name="invoice[delivery_details_number]" class="form-control">
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Locality name</label>
                      <input type="text" name="invoice[delivery_details_locality_name]" class="form-control">
                    </div>

                    <div class="col-md-6 mb-3">
                      <label class="form-label">Postal/ZIP</label>
                      <input type="text" name="invoice[delivery_details_zip_code]" class="form-control">
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-label">City</label>
                      <input type="text" name="invoice[delivery_details_city]" class="form-control">
                    </div>

                    <div class="col-md-12 mb-3">
                      <label class="form-label">GLN</label>
                      <input type="text" name="invoice[delivery_details_gln]" class="form-control">
                      <div class="form-text">
                        <a href="https://en.wikipedia.org/wiki/Global_Location_Number" target="_blank">What is a GLN?</a>
                      </div>
                    </div>

                    <div class="col-md-12 mb-3">
                      <label class="form-label">Company Name</label>
                      <input type="text" name="invoice[delivery_details_company_name]" class="form-control">
                    </div>

                    <div class="col-md-4 mb-3">
                      <label class="form-label">Tax ID</label>
                      <select name="invoice[delivery_details_tax_id]" class="form-select">
                        <option value="">Tax ID</option>
                        <option value="AE:TRN">AE:TRN</option>
                        <option value="AO:VAT">AO:VAT</option>
                        <option value="AR:CUIT">AR:CUIT</option>
                        <option value="AT:MWST">AT:MWST</option>
                        <option value="AU:TFN">AU:TFN</option>
                        <option value="BB:TIN">BB:TIN</option>
                        <option value="BD:TIN">BD:TIN</option>
                        <option value="BE:BTW">BE:BTW</option>
                        <option value="BF:IFU">BF:IFU</option>
                        <option value="BG:DDS">BG:DDS</option>
                        <option value="BH:TIN">BH:TIN</option>
                        <option value="BJ:IFU">BJ:IFU</option>
                        <option value="BR:CNPJ">BR:CNPJ</option>
                        <option value="BW:VAT">BW:VAT</option>
                        <option value="CA:GST">CA:GST</option>
                        <option value="CA:QST">CA:QST</option>
                        <option value="CD:VAT">CD:VAT</option>
                        <option value="CG:VAT">CG:VAT</option>
                        <option value="CH:UID">CH:UID</option>
                        <option value="CI:VAT">CI:VAT</option>
                        <option value="CL:RUT">CL:RUT</option>
                        <option value="CM:VAT">CM:VAT</option>
                        <option value="CN:VAT">CN:VAT</option>
                        <option value="CO:NIT">CO:NIT</option>
                        <option value="CR:CJ">CR:CJ</option>
                        <option value="CY:FPA">CY:FPA</option>
                        <option value="CZ:DPH">CZ:DPH</option>
                        <option value="DE:MWST">DE:MWST</option>
                        <option value="DK:CVR">DK:CVR</option>
                        <option value="DZ:NIF">DZ:NIF</option>
                        <option value="EC:RUC">EC:RUC</option>
                        <option value="EE:KMKR">EE:KMKR</option>
                        <option value="EG:TIN">EG:TIN</option>
                        <option value="ES:IVA">ES:IVA</option>
                        <option value="FI:ALV">FI:ALV</option>
                        <option value="FR:VAT">FR:VAT</option>
                        <option value="GB:VAT">GB:VAT</option>
                        <option value="GH:VAT">GH:VAT</option>
                        <option value="GQ:VAT">GQ:VAT</option>
                        <option value="GR:FPA">GR:FPA</option>
                        <option value="GT:NIT">GT:NIT</option>
                        <option value="HR:OIB">HR:OIB</option>
                        <option value="HU:AFA">HU:AFA</option>
                        <option value="ID:VAT">ID:VAT</option>
                        <option value="IE:VAT">IE:VAT</option>
                        <option value="IL:VAT">IL:VAT</option>
                        <option value="IN:GST">IN:GST</option>
                        <option value="IS:VSK">IS:VSK</option>
                        <option value="IT:IVA">IT:IVA</option>
                        <option value="JP:CT">JP:CT</option>
                        <option value="JP:VAT">JP:VAT</option>
                        <option value="KE:VAT">KE:VAT</option>
                        <option value="KR:VAT">KR:VAT</option>
                        <option value="KW:TIN">KW:TIN</option>
                        <option value="LI:VAT">LI:VAT</option>
                        <option value="LK:TIN">LK:TIN</option>
                        <option value="LT:PVM">LT:PVM</option>
                        <option value="LU:TVA">LU:TVA</option>
                        <option value="LV:VAT">LV:VAT</option>
                        <option value="MA:IF">MA:IF</option>
                        <option value="MC:TVA">MC:TVA</option>
                        <option value="MU:TAN">MU:TAN</option>
                        <option value="MX:RFC">MX:RFC</option>
                        <option value="MY:GST">MY:GST</option>
                        <option value="MY:SST">MY:SST</option>
                        <option value="MY:TIN">MY:TIN</option>
                        <option value="MY:TTX">MY:TTX</option>
                        <option value="NG:TIN">NG:TIN</option>
                        <option value="NL:BTW">NL:BTW</option>
                        <option value="NO:VAT">NO:VAT</option>
                        <option value="NZ:GST">NZ:GST</option>
                        <option value="PE:RUC">PE:RUC</option>
                        <option value="PK:NTN">PK:NTN</option>
                        <option value="PL:NIP">PL:NIP</option>
                        <option value="PR:EIN">PR:EIN</option>
                        <option value="PT:NIF">PT:NIF</option>
                        <option value="QA:TIN">QA:TIN</option>
                        <option value="RO:CIF">RO:CIF</option>
                        <option value="RW:TIN">RW:TIN</option>
                        <option value="SA:TIN">SA:TIN</option>
                        <option value="SE:VAT">SE:VAT</option>
                        <option value="SG:GSTN">SG:GSTN</option>
                        <option value="SI:DDV">SI:DDV</option>
                        <option value="SK:DPH">SK:DPH</option>
                        <option value="SZ:VAT">SZ:VAT</option>
                        <option value="TD:VAT">TD:VAT</option>
                        <option value="TH:VAT">TH:VAT</option>
                        <option value="TN:TVA">TN:TVA</option>
                        <option value="TR:VKN">TR:VKN</option>
                        <option value="TS:VAT">TS:VAT</option>
                        <option value="TW:GUI">TW:GUI</option>
                        <option value="TW:TIN">TW:TIN</option>
                        <option value="UG:VAT">UG:VAT</option>
                        <option value="US:EIN">US:EIN</option>
                        <option value="UY:RUT">UY:RUT</option>
                        <option value="VE:RIF">VE:RIF</option>
                        <option value="ZA:VAT">ZA:VAT</option>
                        <option value="ZW:VAT">ZW:VAT</option>                      
                      </select>
                    </div>
                    <div class="col-md-8 mb-3">
                      <label class="form-label">Tax Number</label>
                      <input type="text" name="invoice[delivery_details_tax_number]" class="form-control">
                    </div>
                  </div>

                </div>
            </div>

            <%= render partial: "locations/location_selector", locals: { type: "Ship From", locations: @locations_by_type["Ship From"] || [] } %>
            <%= render partial: "locations/location_selector", locals: { type: "Remit To", locations: @locations_by_type["Remit To"] || [] } %>
            <%= render partial: "locations/location_selector", locals: { type: "Tax Representative", locations: @locations_by_type["Tax Representative"] || [] } %>

          </div>
          
          <div class="col-md-6">
            <div class="mb-3">
              <%= f.label :message, "Write a message to the recipient", class: "form-label" %>
              <%= f.text_area :message, class: "form-control", rows: 5, placeholder: "Enter your message..." %>
            </div>

            <div class="form-check mb-4">
              <%= f.check_box :save_notes_for_future, class: "form-check-input" %>
              <%= f.label :save_notes_for_future, "Save notes for future Invoices", class: "form-check-label" %>
            </div>

            <div class="mb-3">
              <%= f.label :attachments, class: "form-label" %>
              <%= file_field_tag "invoice[attachment]", class: "form-control", accept: "image/*,application/pdf" %>
              <div id="fileHelp" class="form-text">Only images and PDFs allowed. Max file size is 10 MB.</div>
            </div>
          </div>
        </div>


        <div class="d-flex justify-content-between gap-2 mt-5">
            <%= link_to "Back", invoices_path, class: "btn btn-secondary btn-md" %>
            <%= f.submit "Create Invoice", class: "btn btn-primary" %>
        </div>
    </div>
    <div class="card-footer bg-white pb-3">
        <button type="button" class="btn btn-primary btn-sm add-footer-toggle-btn mt-3">
          + Add footer notes
        </button>

        <div id="footer_wrapper_parent_div" class="mt-3" style="display:none">
          <div class="mb-3">
              <%= f.label :footer_notes, class: "form-label" %>
              <%= f.text_area :footer_notes, class: "form-control", rows: 5, placeholder: "Enter your message..." %>
            </div>

            <div class="form-check mb-4">
              <%= f.check_box :save_footer_notes_for_future, class: "form-check-input" %>
              <%= f.label :save_footer_notes_for_future, "Save notes for future Invoices", class: "form-check-label" %>
            </div>
        </div>
    </div>
    <% end %>
  </div>
</div>
