<div class="container mt-5">
  <div class="card shadow-sm mb-5">
    <div class="card-body">
      <%= form_with model: @invoice, local: true, html: { multipart: true, class: "row g-3" } do |f| %>

        <h5 class="text-secondary">Invoice Details</h5>
        
        <div class="row">

          <div class="col-md-6">
            <%= f.label :to, class: "form-label" %>
            <%= f.text_field :to, class: "form-control" %>
          </div>

          <div class="col-md-6">
            <%= f.label :invoice_number, class: "form-label" %>
            <%= f.text_field :invoice_number, class: "form-control" %>

            <div class="row mt-3">
              <div class="col-md-6">
                <%= f.label :issue_date, class: "form-label" %>
                <%= f.date_field :issue_date, class: "form-control" %>
              </div>

              <div class="col-md-6">
                <%= f.label :currency, class: "form-label" %>
                <%= f.text_field :currency, class: "form-control" %>
              </div>
            </div>

            <div id="invoice_details_parent_div" class="mt-3">
              <div class="mb-3" data-optional-group="payment_due_date">
                <div class="row">
                  <div class="col-md-6">
                    <%= f.label :payment_due_date, class: "form-label" %>
                    <%= f.date_field :payment_due_date, class: "form-control" %>
                  </div>
                  <div class="col-md-6 d-flex align-items-end">
                    <button type="button" class="btn btn-outline-danger ms-auto remove-group">× Remove</button>
                  </div>
                </div>
              </div>

              <div class="mb-3" data-optional-group="delivery_date">
                <div class="row">
                  <div class="col-md-6">
                    <%= f.label :delivery_date, class: "form-label" %>
                    <%= f.date_field :delivery_date, class: "form-control" %>
                  </div>
                  <div class="col-md-6 d-flex align-items-end">
                    <button type="button" class="btn btn-outline-danger ms-auto remove-group">× Remove</button>
                  </div>
                </div>
              </div>

              <div id="optional_fields_container"></div>

              <div class="mt-4">
                <select id="optionalField" class="form-select">
                  <option value="">Add optional field</option>
                  <option value="customsDeclarations">Customs Declarations</option>
                  <option value="taxExchangeRateFields">Exchange rate</option>
                  <option value="transactionVatType">Transaction VAT Type</option>
                  <option value="orderReferenceId">Purchase order number</option>
                  <option value="orderReferenceIssueDate">Purchase order issue date</option>
                  <option value="billingReferenceId">Billing reference</option>
                  <option value="contractDocumentReferenceId">Contract number</option>
                  <option value="despatchDocumentReference.id">Shipping Notice Reference</option>
                  <option value="despatchDocumentReference.issueDate">Shipping Notice Issue Date</option>
                  <option value="receiptDocumentReference.id">Goods Receipt Reference</option>
                  <option value="receiptDocumentReference.issueDate">Goods Receipt Issue Date</option>
                  <option value="accountingCost">Cost center</option>
                  <option value="customerPartyContactName">Person reference</option>
                  <option value="additionalReferences[BOL ID]">Transport Reference</option>
                  <option value="BOLIssueDate">Transport Reference Issue Date</option>
                  <option value="additionalReferences[File ID]">File Id</option>
                  <option value="customerAssignedId">Customer account ID</option>
                  <option value="taxPointDate">Tax point date</option>
                  <option value="supplierCommissionNumber">Commission number of seller</option>
                  <option value="supplierPhysicalLocationValue">Data universal numbering system</option>
                  <option value="deliveryTerms">Delivery Terms</option>
                  <option value="additionalReferences[Interim Hours]">Interim Hours</option>
                  <option value="additionalReferences[BookingNumber]">Booking Number</option>
                  <option value="additionalReferences[PaymentReference]">Payment Reference</option>
                  <option value="additionalReferences[TS Clearance]">Tradeshift Clearance</option>
                  <option value="promisedDeliveryPeriod">Delivery period</option>
                  <option value="additionalReferences[Clearance Clave]">Clearance Clave</option>
                </select>
              </div>
            </div>

          </div>

        </div>

        <div class="d-flex justify-content-between gap-2 mt-5">
            <%= link_to "Back", invoices_path, class: "btn btn-secondary btn-md" %>
            <%= f.submit "Create Invoice", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>