<% content_for :page_title, "Invoice: " + @invoice.invoice_number %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "invoices", media: "all" %>
<% end %>
<%= javascript_include_tag "view_invoice", "data-turbo-track": "reload", type: "module" %>

<%= hidden_field_tag :payment_terms, @invoice.payment_terms.to_json.html_safe, id: 'view_invoicepayment_terms_json' %>
<div class="container mt-5">
  <div class="d-flex justify-content-between mt-5 mb-3">
    <div>
      <%= link_to "Back", invoices_path, class: "btn btn-secondary btn-md" %>
    </div>

    <div class="d-flex gap-2">
      <button id="download_button" class="btn btn-outline-primary btn-md">
        <i class="fas fa-download me-1"></i> PDF
      </button>
    <% if @invoice.invoice_type == "sale" && !["sent", "approved", "denied", "paid"].include?(@invoice.status) %>
        <%= link_to "Modify", edit_invoice_path(@invoice), class: "btn btn-secondary btn-md" %>

        <%= button_to "Send",
            duplicate_as_purchase_invoice_path(@invoice),
            method: :post,
            params: { invoice: { id: @invoice.id } },
            class: "btn btn-primary btn-md d-inline",
            id: "view_invoice_send_btn",
            name: "commit_action",
            value: "send" %>

    <% end %>
    </div>

  </div>

  <%= render "invoices/partials/invoice_card", invoice: @invoice %>

</div>
