<div class="container mt-5" style="max-width: 400px;">
  <h2 class="mb-4 text-center">Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "needs-validation", novalidate: true }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <!-- New Password Field -->
    <div class="mb-3">
      <%= f.label :password, "New password", class: "form-label" %>
      <% if @minimum_password_length %>
        <small class="form-text text-muted">(<%= @minimum_password_length %> characters minimum)</small>
      <% end %>
      <div class="input-group">
        <%= f.password_field :password, id: "password", autofocus: true, autocomplete: "new-password", class: "form-control border-end-0", required: true %>
        <span class="input-group-text bg-white">
          <i class="fa-solid fa-eye" id="togglePasswordIcon" style="cursor: pointer;"></i>
        </span>
      </div>
      <div class="invalid-feedback">
        Please enter a new password.
      </div>
    </div>

    <!-- Confirm Password Field -->
    <div class="mb-3">
      <%= f.label :password_confirmation, "Confirm new password", class: "form-label" %>
      <div class="input-group">
        <%= f.password_field :password_confirmation, id: "confirmPassword", autocomplete: "new-password", class: "form-control border-end-0", required: true %>
        <span class="input-group-text bg-white">
          <i class="fa-solid fa-eye" id="toggleConfirmPasswordIcon" style="cursor: pointer;"></i>
        </span>
      </div>
      <div class="invalid-feedback">
        Please confirm your new password.
      </div>
    </div>

    <div class="d-grid">
      <%= f.submit "Change my password", class: "btn btn-primary btn-lg" %>
    </div>
  <% end %>

  <div class="mt-3 text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>