<nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand">Tax Form Hub</a>
    <% if user_signed_in? %>
      <div class="d-flex align-items-center">
        <span class="text-muted me-2">Hello, <strong><%= current_user.email %></strong></span>
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger btn-sm mb-0" %>
      </div>
    <% end %>
  </div>
</nav>


<div class="container py-5">
  <h1 class="display-2">Tax Form Hub</h1>
  <p class="lead">Submit 2307 and Payment Receipt</p>
  <%= link_to "Submit Documents", new_tax_submission_path, class: "btn btn-primary btn-md mt-1" %>
</div>

<div class="container mt-2">
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#unarchived">Active Submissions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#archived">Archived Submissions</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="unarchived">
      <%= render partial: 'submission_table', locals: { submissions: @unarchived_submissions, archived_table: false } %>
    </div>
    <div class="tab-pane fade" id="archived">
      <%= render partial: 'submission_table', locals: { submissions: @archived_submissions, archived_table: true } %>
    </div>
  </div>
</div>
