<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Tax Form Hub" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" href="/icon.png" type="image/png" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/icon.png" />

    <%= render "layouts/cdns" %>

    <!-- Your CSS files -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "responsive", "data-turbo-track": "reload" %>
    <%= yield :stylesheets %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body data-devise="<%= devise_controller? %>" class="bg-light">


  <% unless devise_controller? && !(controller_name == "registrations" && action_name == "edit") %>
    <div class="app-menu-toggle" id="desktop_menu_toggle">
      <i class="fa-solid fa-chevron-right"></i>
    </div>
    
    <div class="app-header d-flex align-items-center justify-content-between">
      <%= link_to root_path, class: "d-flex align-items-center text-decoration-none" do %>
        <div class="app-icon text-primary">
          <i class="fa-solid fa-cloud-arrow-up"></i>
        </div>
        <div class="app-text text-primary ms-2">TAX FORM HUB</div>
      <% end %>

      <div class="mobile-app-menu-toggle" id="mobile_menu_toggle"></div>
    </div>

    <div class="app-sidebar">
      <ul>
        <!-- App logo -->
        <li class="app-logo" id="desktop_app_logo">
          <%= link_to root_path, class: "d-flex align-items-center" do %>
            <div class="app-icon text-primary">
            <i class="fa-solid fa-cloud-arrow-up"></i>
            </div>
            <div class="app-text text-primary">Tax Form Hub</div>
          <% end %>
        </li>

        <!-- Main Menu -->
        <div class="app-menu-list">
          <li class="<%= 'app-active' if request.path == root_path %>">
            <%= link_to root_path do %>
              <div class="app-icon"><i class="fa-solid fa-file-invoice-dollar z-1"></i></div>
              <div class="app-text">Taxes</div>
            <% end %>
          </li>

          <li class="<%= 'app-active' if request.path.starts_with?(invoices_path) %>">
            <%= link_to invoices_path do %>
              <div class="app-icon"><i class="fa-solid fa-file-invoice z-1"></i></div>
              <div class="app-text">Invoices</div>
            <% end %>
          </li>

          <li class="<%= 'app-active' if request.path.starts_with?(locations_path) %>">
            <%= link_to locations_path do %>
              <div class="app-icon"><i class="fa-solid fa-location-dot z-1"></i></div>
              <div class="app-text">Locations</div>
            <% end %>
          </li>

          <li class="<%= 'app-active' if request.path.starts_with?(recurring_invoices_path) %>">
            <%= link_to recurring_invoices_path do %>
              <div class="app-icon"><i class="fa-solid fa-arrows-rotate z-1"></i></div>
              <div class="app-text">Recurring Items</div>
            <% end %>
          </li>
        </div>

        <!-- Bottom Section -->
        <div class="app-bottom">
          <li class="<%= 'app-active' if request.path.starts_with?(edit_profile_path) %>">
            <%= link_to edit_profile_path do %>
              <div class="app-icon"><i class="fa-solid fa-user-gear z-1"></i></div>
              <div class="app-text">User Profile</div>
            <% end %>
          </li>

          <li class="<%= 'app-active' if request.path.starts_with?(companies_path) %>">
            <%= link_to companies_path do %>
              <div class="app-icon"><i class="fa-solid fa-building z-1"></i></div>
              <div class="app-text">Company Profile</div>
            <% end %>
          </li>

          <li>
            <%= link_to destroy_user_session_path,
                        method: :delete,
                        data: { confirm: "Are you sure you want to log out?" } do %>
              <div class="app-icon"><i class="fa-solid fa-right-from-bracket z-1"></i></div>
              <div class="app-text">Log out</div>
            <% end %>
          </li>
        </div>
      </ul>
    </div>

    <div id="main_content_div">
      <%= yield %>
    </div>
  <% end %>


  <% if devise_controller? && !(controller_name == "registrations" && action_name == "edit") %>
    <%= yield %>
  <% end %>

  <% flash.each do |key, message| %>
    <div class="custom_tfh_alert alert alert-dismissible show d-flex align-items-start" role="alert">
      <i class="fa-solid fa-circle-exclamation me-2 mt-1 alert_text_<%= key == "notice" ? "success" : "danger" %>"></i>

      <div>
        <% messages = message.to_s.split(/<br\s*\/?>/) %>
        <% if messages.size > 1 %>
          <ol class="mb-0 ps-3">
            <% messages.each do |msg| %>
              <li><%= msg.strip %></li>
            <% end %>
          </ol>
        <% else %>
          <span><%= message %></span>
        <% end %>
      </div>
    </div>
  <% end %>

  </body>
</html>
