<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Tax Form Hub" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <% if request.path == '/admin/tax_submissions' %>
      <%= javascript_pack_tag 'admin_client_submissions', 'data-turbo-track': 'reload' %>
    <% end %>
  </head>

  <body class="<%= 'devise' if devise_controller? %> bg-dark text-light">

    <%= yield %>

    <% unless controller_name == 'sessions' && action_name == 'new' %>
      <% flash.each do |key, message| %>
        <div class="alert alert-<%= key == "notice" ? "success" : "danger" %> alert-dismissible show" role="alert">
          <%= message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
    <% end %>

  </body>
</html>
