<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Tax Form Hub" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" href="/icon.png" type="image/png" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/icon.png" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />

    <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.bootstrap5.min.css" rel="stylesheet" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/responsive.bootstrap5.min.js"></script>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body data-devise="<%= devise_controller? %>" class="bg-light">
  
  <% unless devise_controller? %>
    <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom shadow-sm">
      <div class="<%= request.path.include?('/admin/') ? 'container-fluid' : 'container' %>">
        <%= link_to "Tax Form Hub", root_path, class: "navbar-brand" %>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <li class="nav-item">
              <%= link_to 'Invoice', invoices_path, class: 'nav-link' %>
            </li>
          </div>

          <div class="d-flex align-items-center gap-3 pt-2 pb-2 pb-md-0 pt-md-0">
            <div class="dropdown">
              <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <%= image_tag(
                  current_user.profile_image.attached? ? url_for(current_user.profile_image) : asset_path("user_avatar_default.png"),
                  class: "rounded-circle",
                  style: "width: 40px; height: 40px; object-fit: cover;"
                ) %>
              </a>
              <ul class="dropdown-menu dropdown-menu-end text-small shadow">
                <li class="px-3 py-2 text-muted small">
                  Signed in as<br><strong><%= current_user.email %></strong>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "Edit Profile", edit_profile_path, class: "dropdown-item" %></li>
                <li>
                  <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item text-danger", form: { class: "d-inline" } %>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </nav>
  <% end %>

  <%= yield %>

  <% unless controller_name == 'sessions' && action_name == 'new' %>
    <% flash.each do |key, message| %>
      <div class="custom_tfh_alert alert alert-dismissible show" role="alert">
        <i class="fa-solid fa-circle-exclamation me-2 alert_text_<%= key == "notice" ? "success" : "danger" %>"></i> <%= message %>
      </div>
    <% end %>
  <% end %>

  </body>
</html>
